@if (isOpen()) {
    <div
        tabindex="-1"
        aria-hidden="true"
        class="w-full h-full overflow-y-hidden overflow-x-hidden fixed top-0 right-0 left-0 inset-0 z-40 bg-linear-to-br from-brown/80 to-brown/65 backdrop-blur-xs"
        (click)="close()"
    >

        <div class="relative flex items-center justify-center w-full h-full">
            <div
                class="relative bg-beige-light rounded shadow-xl m-3 w-full max-h-95/100 flex flex-col lg:max-w-120"
                (click)="$event.stopPropagation()"
            >
                <div class="flex justify-between items-center p-6">
                    <h2>{{ this.title }}</h2>
                    <button (click)="close()"
                            class="cursor-pointer p-2 rounded-full bg-white hover:bg-brown hover:text-white">
                        <svg lucideX [size]="20"/>
                    </button>
                </div>

                <div class="flex-1 space-y-4 h-full overflow-y-auto px-6 pb-6">
                    <ng-content/>
                </div>
            </div>
        </div>

    </div>
}
