<section class="space-y-6">
    <h1>Dégustations</h1>

    @if (error()) {
        <app-alert>{{ error() }}</app-alert>
    }

    @if (loading()) {
        <p>Chargement...</p>
    } @else if (tastings().length === 0) {
        <p>Aucune dégustation enregistrée.</p>
    } @else {
        <div class="flex flex-col gap-5">
            @for (tasting of tastings(); track tasting.id) {
                <article [routerLink]="['degustation', tasting.id]" class="grid grid-cols-3 gap-3 cursor-pointer">
                    @if (getPictureUrl(tasting.id); as imageUrl) {
                        <img
                            [ngSrc]="imageUrl"
                            [alt]="tasting.cafe_name"
                            [class]="'w-full h-auto aspect-square object-cover rounded border-6 ' + getColorsByNote(tasting.note).border"
                            width="1200"
                            height="1200"
                        />
                    } @else {
                        <div
                            class="aspect-square px-3 bg-brown text-white flex items-center justify-center text-center rounded">
                            <svg lucideImage [size]="24"/>
                        </div>
                    }

                    <div
                        [class]="'col-span-2 rounded px-3 flex items-center justify-between gap-3 ' + getColorsByNote(tasting.note).bg"
                    >
                        <div class="flex-1 flex flex-col justify-center">
                            <h2 class="text-[24px] leading-5 whitespace-pre-line">{{ tasting.cafe_name }}</h2>
                            @if (tasting.cafe_location) {
                                <p class="text-sm">{{ tasting.cafe_location }}</p>
                            }
                        </div>

                        <div class="w-fit">
                            <span class="text-white font-display text-2xl tracking-tightest">{{ tasting.note }}</span>/10
                        </div>
                    </div>
                </article>
            }
        </div>
    }
</section>
