<div class="flex flex-col gap-4 items-center">
    @if (_avatarUrl() && !loading()) {
        <img
            [ngSrc]="_avatarUrl()"
            width="300"
            height="300"
            alt="Avatar"
            class="object-cover rounded-sm"
        />
    }

    @if (!_avatarUrl() || loading()) {
        <div class="w-full bg-brown text-white flex justify-center items-center aspect-square rounded-sm">
            @if (loading()) {
                <div
                    class="size-7 rounded-full border-5 border-y-white border-l-white border-r-transparent animate-spin"></div>
            } @else {
                <svg lucideImage [size]="24"/>
            }
        </div>
    }

    <label for="avatar">
        <button app-button variant="primary" (click)="fileInput.click()">
            @if (uploading()) {
                <svg lucideLoader [size]="16" class="animate-spin"></svg>
                Envoi...
            } @else {
                <svg lucideUpload [size]="16"></svg>
                Modifier
            }
        </button>
        <input
            #fileInput
            type="file"
            id="avatar"
            accept="image/*"
            class="invisible absolute"
            (change)="uploadAvatar($event)"
            [disabled]="uploading()"
        />
    </label>
</div>
