<header class="sticky top-0 flex justify-center py-4">
    <a href="/" class="flex items-center gap-2">
        <h1>Super</h1>
        <img src="images/logo.svg" alt="Logo Super Choco">
        <h1>Choco</h1>
    </a>
</header>

<main class="px-10 pt-10 pb-28">
    <router-outlet/>
</main>

@if ((authState.isAuthenticated$() && !authState.loading$())) {
    <nav class="fixed bottom-5 left-0 right-0 mx-auto w-fit flex items-center gap-2 bg-blue-light p-1 rounded-full">
        @for (item of navItems; track item.label) {
            <button
                app-button
                [routerLink]="item.route"
                variant="menu"
                routerLinkActive="bg-brown text-white"
                [routerLinkActiveOptions]="{ exact: item.route === '' }"
            >
                {{ item.label }}
            </button>
        }
        <button app-button variant="secondary" shape="round">
            <svg lucidePlus [size]="20"></svg>
        </button>
    </nav>
}
